/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    max-width: 100%;
}

img {
    object-fit: cover;
    object-position: 50% 45%;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 5px 0 5px 0;
}

button {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    outline: none;
}


/* Navigation */

.wrapper {
    padding: 0 1rem 0 1rem;
}

.container-header {
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #0065fc;
    font-weight: 900;
}

.main-navbar ul {
    display: flex;
    justify-content: space-between;
}

.main-navbar ul .navbar {
    border-bottom: 3px solid #f2f2f2;
    padding: 1rem;
    width: 50%;
    text-align: center;
}

.main-navbar li:nth-child(1) {
    color: #0065fc;
    border-bottom: blue 2px solid;
}

.main-navbar li:nth-child(3) {
    display: none;
    color: #0065fc;
    font-weight: 900;
}


/* Title */

#title {
    margin: 15px 0 15px 0;
}

#title h1 {
    margin-bottom: 10px;
}


/* Bouton */

#container-btn {
    display: flex;
    margin: 1.5rem 0rem 1.5rem 0rem;
}

#container-btn .fa-map-marker-alt {
    background: #f2f2f2;
    padding: 1rem;
    border-radius: 10px 0 0 10px;
}

input[type="text"] {
    font-family: "Raleway", sans-serif;
    border: solid 1px #f2f2f2;
    font-weight: 800;
    padding: 1rem;
    align-items: center;
}

input[type="text"]::placeholder {
    color: black;
}

.research-btn {
    position: relative;
    left: -5px;
    display: none;
    background: #0065fc;
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

#container-btn .fa-search {
    background: #0065fc;
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}


/* Filter */

.filter__row {
    margin: 10px 0 10px 0;
    align-items: center;
}

.filter__firstRow {
    display: flex;
    justify-content: space-around;
}

.filter__btn {
    background: white;
    width: 180px;
    border: 3px solid #f2f2f2;
    border-radius: 30px;
    align-items: center;
    display: flex;
    cursor: pointer;
    margin: 0 10px 10px 0;
    transform: scale(1);
    transition: transform 800ms;
}

.filter__btn:hover {
    transform: scale(1.15);
}

.filter__btn i {
    border-radius: 100%;
    background: #deebff;
    text-align: center;
    border: solid 2px #f2f2f2;
    padding: 10px;
    margin-right: 15px;
    color: #0065fc;
}

.filter__btn.romantique {
    width: 150px;
}

.filter__btn.economique {
    width: 160px;
    padding-right: 15px;
}


/* Chart Info */

#chart-info {
    display: flex;
    align-items: center;
    margin: 20px 0 20px 0;
}

#chart-info span {
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    padding: 10px;
    color: #0065fc;
    margin-right: 15px;
    font-size: 10px;
}


/* Les plus populaires */

.aside-container {
    background: #f2f2f2;
    padding: 2rem 1rem 2rem 1rem;
    width: 100%;
}

.popular-and-chart {
    /*H2 populaire*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.popular-and-chart i {
    font-size: 1rem;
}

.card-popular {
    display: flex;
    background: white;
    margin-bottom: 1rem;
    border-radius: 15px;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.2);
}

.card-popular-image {
    padding: 3px;
    height: 135px;
    width: 120px;
    border-radius: 15px 0 0 15px;
}

.card-body.card-body--spaceBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
    width: 100%;
}


/* Hébergement */

.principal {
    display: flex;
    flex-wrap: wrap;
}

.container-hebergement {
    margin-top: 2rem;
}

.container-hebergement>h2 {
    padding-bottom: 1rem;
}

.row-hebergement {
    display: grid;
    grid-template-columns: 1fr;
}

.card-hebergement {
    margin-bottom: 1rem;
    border-radius: 15px;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.2);
}

.card-hebergement .hebergement-image {
    height: 110px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    padding: 3px;
}

.card-body {
    padding: 5px 10px 5px 10px;
}


/* Boutons en étoile */

.container-star-rating {
    display: flex;
    color: #0065fc;
}

.stars--three i:nth-child(4) {
    color: rgb(219, 219, 219);
}

.stars--three i:nth-child(5) {
    color: rgb(219, 219, 219);
}

.stars--four i:nth-child(5) {
    color: rgb(219, 219, 219);
}


/* GRID Activité */

.container-activites-marseille {
    margin-top: 2rem;
}

.container-activites-marseille>h2 {
    padding-bottom: 1rem;
}

.card-grid {
    margin-bottom: 1.5rem;
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.2);
}

.card-grid img {
    height: 100px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.card-grid .card-body {
    padding: 15px 0 0 10px;
    height: 50px;
}


/* Footer */

footer {
    background: #f2f2f2;
}

#container-footer {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

#container-footer ul {
    margin: 5px;
    padding: 5px;
}

#container-footer ul li {
    padding: 5px;
}


/* RESPONSIVE */

@media screen and (min-width: 350px) {
    .filter__btn.familial {
        width: 120px;
    }
}

@media screen and (min-width: 580px) {
    /* Filtre */
    .filter__secondRow {
        display: flex;
        justify-content: space-around;
    }
    /* Les plus populaires */
    .row-hebergement {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    .card-hebergement .hebergement-image {
        height: 140px;
    }
}

@media screen and (min-width: 320px) and (max-width:579px) {
    /* Filtre */
    .filter__firstRow {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 580px) and (max-width: 749px) {
    /* Les plus populaires */
    .aside-container {
        padding: 2rem 4rem 2rem 4rem;
    }
    .container-activites-marseille {
        padding: 2rem 4rem 2rem 4rem;
    }
}


/* LAPTOP */

@media screen and (min-width: 760px) {
    /* Navigation */
    .container-header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .logo a {
        display: none;
    }
    .main-navbar {
        align-items: center;
        border-bottom: none;
    }
    .main-navbar ul .navbar {
        border-bottom: none;
        padding: 1rem;
        width: 50%;
        text-align: center;
    }
    .main-navbar li {
        margin-left: 50px;
    }
    .main-navbar li:nth-child(1) {
        border-top: 3px solid #0065fc;
        border-bottom: none;
    }
    .main-navbar li:nth-child(3) {
        display: flex;
    }
    /* Filtre */
    .filter__row {
        flex-direction: row;
        display: flex;
    }
    .filter__row span {
        margin-right: 10px;
    }
    /* Hébergement */
    .principal {
        flex-direction: column;
    }
    .row-hebergement {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
    }
    .container-hebergement {
        background: #f2f2f2;
        margin-top: 20px;
        padding: 2rem;
    }
    .card-hebergement {
        background: white;
        width: 90%;
    }
    .card-hebergement .hebergement-image {
        height: 120px;
    }
    /* Les plus populaires */
    .aside-image {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }
    .card-popular-image {
        height: 140px;
        width: 120px;
    }
    /* GRID ACTIVITES */
    .grid-activities {
        display: flex;
    }
    .card-grid {
        margin-left: 1rem;
        width: 100%;
    }
    .box-2 .card-grid {
        width: 100%;
    }
    .box-2 {
        margin: 0 30px 0 30px;
    }
    /* Footer */
    #container-footer {
        flex-direction: row;
    }
}

@media screen and (min-width: 750px) and (max-width: 1098px) {
    .card-grid .card-grid-img-box-1 {
        height: 260px;
    }
    .box-2 {
        width: 1000px;
    }
    .box-2 .card-grid-img-3 {
        height: 85px;
    }
    .box-2 .card-grid-img-4 {
        height: 90px;
    }
}


/* Ecran Desktop */

@media screen and (min-width: 1099px) {
    /* Navigation */
    .container-header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .logo a {
        display: none;
    }
    .main-navbar {
        align-items: center;
        border-bottom: none;
    }
    .main-navbar ul {
        border-bottom: none;
    }
    .main-navbar li {
        margin-left: 100px;
    }
    .main-navbar li:nth-child(1) {
        border-bottom: none;
        border-top: 3px solid #0065fc;
    }
    .main-navbar li:nth-child(3) {
        display: flex;
    }
    .research-btn {
        display: flex;
    }
    #container-btn .fa-search {
        display: none;
    }
    /* Filter */
    .filter__row {
        flex-direction: row;
    }
    .filter__firstRow button {
        width: 150px;
        margin-left: 10px;
    }
    .filter__secondRow {
        display: flex;
        justify-content: space-around;
    }
    /*Hébergement*/
    .principal {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .container-hebergement {
        border-radius: 20px;
        width: 69.5%;
        margin: auto;
    }
    .row-hebergement {
        grid-template-columns: repeat(3, 1fr);
    }
    /* Les plus populaires */
    .aside-container {
        border-radius: 20px;
        width: 29.5%;
        margin-left: 10px;
    }
    .aside-image {
        grid-template-columns: 1fr;
    }
    .card-popular-image {
        height: 130px;
        width: 120px;
    }
    /* GRID ACTIVITES */
    .container-activites-marseille {
        padding: 2rem;
    }
    .card-grid .card-grid-img-box-1 {
        height: 265px;
    }
    .box-2 .card-grid-img-3 {
        height: 85px;
    }
    .box-2 .card-grid-img-4 {
        height: 90px;
    }
    /* Footer */
    #container-footer ul {
        padding-right: 250px;
    }
}

@media screen and (min-width: 1440px){
    .aside-container {
        padding: 2rem;
    }
}