* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 100%;
    padding: 10px;
    font-size: 12px;
}

.main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-navbar ul {
    margin: 1em 0 .5em;
    text-align: center;
}

.main-navbar li {
    display: inline;
}

.main-navbar a {
	display: inline-block;
	padding: .5em 1.5em;
}

.item {
    font-weight: 900;
}

@media (max-width: 700px) {
	body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
	}
}


/* Header */



/* Navigation */

.navbar {
    list-style-type: none;
    display: flex;
}

.navbar li {
    margin-right: 15px;
}


nav a {
    font-size: 1.3em;
    color: #0065FC;
    text-decoration: none;
}

/* Bouton */

#container-btn{
    
}

input{
    position: relative;
    display: inline-block;
    font-size: 12px;
    box-sizing: border-box;
}

input[type="text"] {
    background: #fff;
    width: 150px;
    height: 35px;
    border: solid 1px #F2F2F2;
    border-radius: 25px 0 0 25px;
}

.research-btn {
    background: #0065FC;
    color: #fff;
    width: 75px;
    height: 35px;
    margin: -5px;
    outline: none;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

/* Filtre */
#filter {
    display: flex;
    align-items: center;
    margin-left: 30px;
    
}

.filter-btn button {
    border-radius: 25px;
    width: auto;
    background: white;
    color: black;
    font-weight: bold;
    border: solid 3px #F2F2F2;
    padding: 10px;
    margin-left: 70px;
    cursor: pointer;
    transition: 0.5s;
}

.filter-btn button:hover {
    background: #0065FC;
    color: white;
}

/* Boutons en étoile */
.container-star-rating {
    display: flex;
    color: #0065FC;
}
.container-star-rating div{
    font-size: 13px;
    text-align: center;
    align-items: center;
}
.container-star-rating input{
    display: none;
}
.container-star-rating label {
    font-size: 11px;
    cursor: pointer;
}

/* Hébergement */

.container-hebergement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hebergement{
    flex-wrap: wrap;
    background:  #F2F2F2;
    border-radius: 20px;
    width: 70%;
}


.hebergement-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 30px;
    padding: 10px;
}

div img{
    background-size: auto;
    max-height: 100%;
    width: 100%;
    border-radius: 20px;
}

.card-hebergement{
    background: white;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 5px;
    width: 250px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    margin-left: 30px;
}

/* Les plus populaires */

.aside-container{
    background: #F2F2F2;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 25%;
}
.aside-image{
    text-align: center;
}

.card{
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 5px;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.card-title{
    text-align: center;
    margin: 5px;
}

/* GRID Activité */

.grid-activities{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    background: white;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 30px;
    width: 250px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    margin-left: 30px;
}

#box-1 .card-grid img{
    height: 500px;
}

#box-2 .card-grid{
    display: flex;
    flex-wrap: wrap;
}


/* Footer */

footer {
    background: #F2F2F2;
    padding: 10px;
}

#container-footer {
    display: flex;
    align-items: center;   
    flex-wrap: wrap;
    font-size: 12px;
    max-width: 100%;
}

#container-footer ul {
    list-style: none;
    margin: 5px;
    padding: 5px;
}

#container-footer ul li{
    padding: 5px;
    margin-right: 250px;
}

.copy-footer {
    display: flex;
    justify-content: center;
}

