* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    margin: 10px;
}

a{
    text-decoration: none;
    color: inherit;
}

/* Header */

.container-header .row-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 12px;
}

#logo{
    display: flex;
    align-items: left;
}

.main-navbar ul {
    text-align: center;
}

.main-navbar a {
	display: inline-block;
	padding: .5em 1.5em;
}

.item {
    font-weight: 900;
}



/* Navigation */

.navbar {
    list-style-type: none;
    display: flex;
}




nav a {
    font-size: 1.3em;
    color: #0065FC;
    text-decoration: none;
}

/* Bouton */

#container-btn div{
    display: flex;
    align-items: center;     
}

#container-btn div i{
    display: flex;
    align-items: center;
    background:  #F2F2F2;
    height: 35px;
    padding: 12px;
    border-radius: 10px 0 0 10px;
}

input[type="text"]{
    font-size: 15px;
    box-sizing: border-box;
    height: 35px;
    border: solid 1px #F2F2F2;
}

.research-btn {
    background: #0065FC;
    color: #fff;
    width: 100px;
    height: 35px; 
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

/* Filtre */
#filter {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.filter-btn{
    display: flex;
    border-radius: 25px;  
    border: solid 3px #F2F2F2;
    color: #0065FC;
}

.filter-btn .filter-icon {
    border-radius: 100%;
    background: #DEEBFF;
    text-align: center;
    border: solid 4px #F2F2F2;
    padding: 10px;  
    cursor: pointer;
}
.filter-btn button {
    border-radius: 25px;
    border: none;
    padding: 10px;   
    background: white;
    transition: 0.5s;
    cursor: pointer;
}

.filter-btn:hover{
    
}

/* Chart Info */
#chart-info{
    display: flex;
    align-items: center;
    margin: 20px;
}
#chart-info span{
    border: 2px solid #F2F2F2;
    border-radius: 100%;
    padding: 10px;
    color: #0065FC;
    font-size: 11px;
    margin-right: 8px;
}

/* Boutons en étoile */
.container-star-rating {
    display: flex;
    color: #0065FC;
}
.container-star-rating div{
    font-size: 13px;
    text-align: center;
    align-items: center;
}
.container-star-rating input{
    display: none;
}
.container-star-rating label {
    font-size: 11px;
    cursor: pointer;
}
.container-star-rating i[data-active="false"] {
    color: grey;
}
.container-star-rating i[data-active="true"] {
    color: blue;
}

/* Hébergement */

.container-hebergement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.hebergement{
    flex-wrap: wrap;
    background:  #F2F2F2;
    border-radius: 20px;
    width: 65%;
}

.hebergement-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-hebergement{
    background: white;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 5px;
    width: 250px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    margin-left: 30px;
}

.card-image img{
    
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.card-image {
    object-fit: cover;
}

/* Les plus populaires */

.popular-and-chart{
    display: flex;
    align-items: center;
}
.popular-and-chart i{
    justify-content: flex-end;
}

.aside-container{
    background: #F2F2F2;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 30%;
}
.aside-image{
    text-align: center;
}

.card{
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}


.card .card-popular-image img{
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    height: 100%;
    width: 150px;
}

.card-title{
    text-align: center;
    margin: 5px;
}

/* GRID Activité */

#container-activites-marseille{
    display: flex;
    justify-content: center;  
}

.grid-activities{
    display: flex;
    flex-wrap: wrap;
}

.card-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: white;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 300px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    margin-left: 30px;
}


.card-grid .box-1{
    height: 500px;  
    object-fit: cover;
}
.card-grid .box-2{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.card-grid img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}





/* Footer */

footer {
    background: #F2F2F2;
    padding: 10px;
}

#container-footer {
    display: flex;
    align-items: center;   
    flex-wrap: wrap;
    font-size: 12px;
    max-width: 100%;
}

#container-footer ul {
    list-style: none;
    margin: 5px;
    padding: 5px;
}

#container-footer ul li{
    padding: 5px;
    margin-right: 250px;
}

.copy-footer {
    display: flex;
    justify-content: center;
}

