* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 100%;
    padding: 10px;
    font-size: 12px;
}

.main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-navbar ul {
    margin: 1em 0 .5em;
    text-align: center;
}

.main-navbar li {
    display: inline;
}

.main-navbar a {
	display: inline-block;
	padding: .5em 1.5em;
}

.item {
    font-weight: 900;
}

@media (max-width: 700px) {
	.main-header .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
	}
}


/* Header */



/* Navigation */

.navbar {
    list-style-type: none;
    display: flex;
}

.navbar li {
    margin-right: 15px;
}


nav a {
    font-size: 1.3em;
    color: #0065FC;
    text-decoration: none;
}

.container-hebergement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hebergement{
    flex-wrap: wrap;
    background:  #F2F2F2;
    border-radius: 20px;
    width: 70%;
}


.hebergement-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 30px;
    padding: 10px;
    background: pink;
}

img{
    background-size: contain;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.card-hebergement{
    background: white;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 5px;
    width: 250px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    margin-left: 30px;
}

/* Les plus populaires */

.aside-container{
    background: #F2F2F2;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 25%;
}
.aside-image{
    text-align: center;
}

.card{
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 5px;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.card-title{
    text-align: center;
    margin: 5px;
}

/* Footer */

footer {
    background: #F2F2F2;
    padding: 10px;
}

#container-footer {
    margin: 0 auto;
    max-width: 100%;
    padding: 10px;
    font-size: 12px;
}

footer #container-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#container-footer ul {
    list-style: none;
    margin: 5px;
    padding: 5px;
}

.copy-footer {
    display: flex;
    justify-content: center;
}